:root {
    --restart-button-color: red;
    --restart-button-hover-color: #d11100;
    --next-button-color: green;
    --next-button-hover-color: #276318;
    --hint-button-color: #4c4b49;
    --hint-button-hover-color: #545351;
    --main-container-color: #383734;
    --main-container-solved-color: #13350e;
    --main-container-failed-color: #440505;
}

.main-container {
    padding: 2vw;
    margin: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--main-container-color);
    max-width: 500px;
    width: 90vw;
    position: relative;
}

.main-container.solved {
    background-color: var(--main-container-solved-color);
}
.main-container.failed {
    background-color: var(--main-container-failed-color);
}

#board {
    width: 100%;
}

.panel-under {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: .3rem;
    height: 3.5rem;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: var(--border-radius);
    color: var(--text-color);
}

.button:hover {
    cursor: pointer;
}

#restart-button {
    background-color: var(--restart-button-color);
}
#restart-button:hover {
    background-color: var(--restart-button-hover-color);
}

#next-button {
    background-color: var(--next-button-color);
}
#next-button:hover {
    background-color: var(--next-button-hover-color);
}

#hint-button {
    background-color: var(--hint-button-color);
}
#hint-button:hover {
    background-color: var(--hint-button-hover-color);
}